<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer service</title>
    <meta name="keywords" content="Customer">
    <meta name="description" content="Customer">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="/static/demo/css/common.css" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="buy-1" data-group="1">售前</button>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success btn-lg btn-block" id="buy-1" data-group="1">售后</button>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="buy-3" data-group="3">Ball49</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/admin/js/content.min.js?v=1.0.0"></script>
    <script src="/static/customer/js/layer/layer.js"></script>
    <script src="/static/customer/js/whisper-tool.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#service a").hover(function () {
                if ($(this).prop("className") == "weixin_area") {
                    $(this).children("img.hides").show();
                } else {
                    $(this).children("div.hides").show();
                    $(this).children("img.shows").hide();
                    $(this).children("div.hides").animate({ marginRight: '0px' }, '0');
                }
            }, function () {
                if ($(this).prop("className") == "weixin_area") {
                    $(this).children("img.hides").hide();
                } else {
                    $(this).children("div.hides").animate({ marginRight: '-163px' }, 0, function () {
                        $(this).hide();
                        $(this).next("img.shows").show();
                    });
                }
            });

            var ws = new whisper();
            var uid = parseInt(Math.random() * 40) + 1;

            $("#buy-1,#buy-2,#buy-3").click(function () {
                var group = $(this).attr('data-group');
                ws.init({
                    id: uid,
                    url: '/',
                    name: 'Customer ' + uid,
                    avatar: 'http://service.global.com/static/demo/images/default.jpg',
                    group: group
                });
            });

            $("#top_btn").click(function () {
                $("html,body").animate({ scrollTop: 0 }, 600);
            });
        });
    </script>
</body>

</html>